<header>{{data.title}}</header>
<div class="content">
    <div>
        <a href="#/quitPage"><button type="button" class="navButton">Main Menu</button></a>
    </div>
    <div>{{questionTitle}}</div>
    <div class="answerContainer">
        <div class="answer"
			ng-repeat="answer in questionAnswers track by $index"
			ng-class="{selected: isSelected($index)}"
			ng-click="select($index)">{{answer.answer}}</div>
    </div>
	{{selected}}
    <div class="buttonContainer">
        <button class="navButton" type="button" id="backButton" ng-click="back()">Back</button>
		<button class="navButton" type="button" id="nextButton" ng-click="next()">Next</button>
    </div>
</div>
<footer></footer>
