<header>
<div id="quizTitle"> {{data.title}} </div>
    <a href="#/quitPage"><button type="button" class="navButton" id="menuButton">Menu</button></a>
</header>
<div class="content">

    <div class="question"> {{questionTitle}} </div>
    <div class="answerContainer">
        <div class="answer"
			ng-repeat="answer in questionAnswers track by $index"
			ng-class="{selected: isSelected($index)}"
			ng-click="select($index)">{{answer.answer}}</div>
    </div>
	{{selected}}
 
</div>
<footer>

    <div class="buttonContainer">
        <button class="navButton" type="button" id="backButton" ng-click="back()">Back</button>
        <button class="navButton" type="button" id="nextButton" ng-click="next()">Next</button>
    </div>
</footer>
