/* Global */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", "Segoe UI", sans-serif !important;
	overflow: hidden;
}

/* Fonts */

@font-face {
	font-family: "Source Sans Pro";
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: "Source Sans Pro";
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/SourceSansPro-Bold.ttf');
}

/* Navigation buttons */

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Question page */

.questionContainer {
	width: 1024px;
	height: 768px;
}

.question {
	width: 900px;
	height: 100px;
	margin-top: 110px;
	margin-left: 82px;
	float: left;
	color: white;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
}

.question.romanticStyle {
	margin-top: 132px;
	margin-bottom: 23px;
}

.question.overflow {
	line-height: normal;
	margin-top: 124px;
	margin-bottom: -14px;
}

.answerContainer {
	width: 750px;
	height: 360px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
}

.answerContainer.romanticStyle {
	width: 770px;
	height: 270px;
	margin-bottom: 67px;
}

.answer {
	flex-grow: 1;
	flex-basis: 200px;
	margin: 6px;
	justify-content: space-between;
	text-align: center;
	color: white;
	background: rgba(0,0,0, 0.3);
	border: 3px solid white;
	font-size: 20px;
	position: relative;
}

.answer.romanticStyle {
	margin: 10px;
}

.answerImage {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	
}

.answerText {
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 22px;
}

.selected {
	background: white;
	color: black;
}

.buttonContainer {
	width: 738px;
	margin: 20px auto 0 auto;
	box-sizing: border-box;
}

.buttonContainer.romanticStyle {
	width: 750px;
}

/* Progress Bar */

.progressContainer {
	width: calc(100% - 100px);
	height: 100px;
	margin: 20px 50px 0 50px;
	float: left;
}

.leftBracket {
    float: left;
}

.progressBar {
	width: calc(100% - (35px * 2));
    height: 49px;
	float: left;
	display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5px;
    box-sizing: border-box;
}

.progressLine {
	height: 3.5px;
	float: left;
    flex-grow: 1;
	background: #eef0f4;
	align-self: center;
    /*background-color: #eef0f4;
    box-shadow: 0 0 5px 0.5px #eef0f4;*/
}

.progressPoint {
    height: 8px;
    width: 8px;
	border: 3px solid #eef0f4;
    border-radius: 100%;
    float: left;
	align-self: center;
}

.questionPoint {
	border: 8px solid #eef0f4;
}

.rightBracket {
    float: right;
}

.numberDiv {
    width: 80px;
	height: 40px;
	margin-left: calc(-40px + (24px / 2));
	margin-top: 34px;
	position: absolute;
    background: #eef0f4;
    line-height: 40px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}

.maryText {
	color: #4b6a9b;
}

.romanticText {
	color: #595959;
}
/* MISCELLANEOUS THINGS THAT NEED TO BE ORGANIZED */


.chooseButton {
	width: 160px;
	height: 90px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid;
	font-size: 20px;
}


.maryDescription {
	width: 40%;
	position: absolute;
	top: 42%;
	left: 55%;
	color: white;
	display: inline-block;
	text-align: center;
	margin-top: 0px;
}

.maryHead {
	white-space: nowrap;
	color: white;
	position: absolute;
	top: 30%;
	left: 75%;
	transform: translateX(-50%);
	font-size: 40px;
}

.romanticDescription {
	width: 40%;
	position: absolute;
	top: 42%;
	left: 5%;
	color: white;
	display: inline-block;
	text-align: center;
}

.description {
	font-size: 25px;
	margin-bottom: 23%;
	color: white;
}

.romanticHead {
	color: white;
	position: absolute;
	top: 30%;
	left: 25%;
	transform: translateX(-50%);
	font-size: 40px;
}

.chooseQuiz {
	margin: 0 auto;
	padding: 0;
}

button {
		font-family: "Source Sans Pro", "Segoe UI", sans-serif !important;
}

.quizDescription {
	width: 564px;
	font-size: 25px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

#quitContainer {
	margin: auto;
	width: 360px;
}

#anotherQuizButton {
  float: right;
}

/* Results page */

.resultsDescription {
	width: 100%;
	height: 480px;
	padding: 0 60px;
	top: 150px;
	position: relative;
	box-sizing: border-box;
	font-size: 20px;
	color: white;
	overflow-y: auto;
}

#shareResultsButton {
  float: right;
  margin-left: 18px;
}

.resultsButtonContainer {
  width: 95%;
  padding-right: 5%;
  height: 90px;

}

.sentButtonContainer {
  width: 360px;
  margin: auto;
}

.sentButtonContainer button {
	margin-left: 10px;
	margin-right: 10px;
}

#mainMenuButton {
  float: right;
  margin-top: 50px;
}

.shareResultsForm {
	position: relative;
	width: 70%;
	top: 14%;
	left: 501px;
	transform: translateX(-50%);
}

label {
  font-size: 20px;
  color: white;
}

input {
  margin-top: 40px;
  margin-bottom: 0px;
	border: 1px solid rgba(255,255,255, 0.01);
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  height: 54px;
	font-family: "Source Sans Pro", "Segoe UI", sans-serif !important;
  font-size: 26px;
  padding: 5px;
	padding-left: 15px;
  color: #475f95;
	box-shadow: none;
	outline: none;
}


.shareResultsDescription {
	position: relative;
	width: 70%;
	top: 15%;
	left: 501px;
	transform: translateX(-50%);
}


::-webkit-input-placeholder {
   /*color: #475f95;*/
   color: rgba(65,94,142, 0.5);
}


.contentShareResultsForm {
  padding-left: 20px;
  padding-top: 40px;
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.errorText {
  margin-top: 3px;
  margin-left: 10px;
  position: absolute;
  color: red;
}

.backgroundChooseQuiz {
  background-image: url("../images/ChooseQuiz.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
}

.backgroundMaryQuestion {
  background-image: url("../images/maryQuestion.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -100px;
}

.backgroundRomanticQuestion {
  background-image: url("../images/romQuestion.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -100px;
}

.backgroundRomanticResults {
  background-image: url("../images/romanticResults.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -90px;
}

.backgroundMaryResults {
  background-image: url("../images/maryQuestion.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -90px;
}

.backgroundMaryDescription {
  background-image: url("../images/summary.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -100px;
}

/* Will need to happen eventually, but no image for it is currently available */
.backgroundRomanticDescription {
	background-image: url("../images/romanticDescription.png");
	background-size: 1024px 768px;
	width: 1024px;
	height: 768px;
	margin: 0 auto -100px;
}

.backgroundShareResults {
  background-image: url("../images/shareResults.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -100px;

}
.backgroundTouchBegin {
  background-image: url("../images/touchBegin.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
}

.modalheader {
    width: 50px;
    font-family
}

.popupNew {
  text-align: center;
  z-index: 1002;
  width: 444px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 60px;
  height: 411px;
	/* It's possible I am wrong, but I was under the impression we had decided to make popups fully opaque.  I will ask about this tomorrow, but I think it looks godawful if you can see text through it Prev value: 0.85*/
  background: rgba(255,255,255, 1);
  position: absolute;
  margin-left: 138px;
  margin-top: 147px;
}

.popupBackground {
  z-index: 1001;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.7);
  position: absolute;
}

.popupText {
  font-family: "Source Sans Pro", "Segoe UI", sans-serif !important;
  font-size: 60px;
  color: rgb(65,94,142);
}

.popup13 {
  text-align: center;
  z-index: 1002;
  width: 594px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 60px;
  height: 411px;
  /* It's possible I am wrong, but I was under the impression we had decided to make popups fully opaque.  I will ask about this tomorrow, but I think it looks godawful if you can see text through it Prev value: 0.85*/
  background: rgba(255,255,255, 1);
  position: absolute;
  margin-left: 138px;
  margin-top: 147px;
}

.popup13Text {
  font-family: "SourceSansPro-Bold", "Segoe UI", sans-serif !important;
  font-size: 55px;
  color: rgb(65,94,142);
  margin-top: 40px;
}

.popup13Helper {
  font-family: "SourceSansPro-Bold", "Segoe UI", sans-serif !important;
  font-size: 25px;
  color: rgb(65,94,142);
  margin-bottom: 20px;
}

.popupButton {
  background-color: rgba(255,255,255, 0);
  border: 2px solid rgb(65,94,142);
  color: rgb(65,94,142);
  width: 188px;
  height: 50px;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 50px;
}

.popupShareButton {
  background-color: rgba(255,255,255, 0);
  border: 2px solid rgb(65,94,142);
  color: rgb(65,94,142);
  width: 188px;
  height: 50px;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 50px;
}

.quizDescNav button {
	padding: 0px;
	width: 204px;
	height: 62px;
}

.quizDescNav {
	width: 458px;
	display: flex;                   /* establish flex container */
  flex-direction: row;             /* default value; can be omitted */
  flex-wrap: nowrap;               /* default value; can be omitted */
  justify-content: space-between;
	margin: 0 auto;
}

.quizDescNav:first-of-type {
	margin-right: 50px;
}


button {
	width: 204px;
	height: 62px;
	border: 3px solid white;
	background: rgba(0, 0, 0, 0.3);
	border: 3px solid white;
	padding: 0;
	font-size: 20px;
	font-family: "Source Sans Pro", "Segoe UI", sans-serif !important;
	font-weight: 600;
	color: white;
	outline: none;
}


.shareResultsButtonContainer {
	position: absolute;
	bottom: 28px;
	right: 0;
	padding-right: 5%;
}


#sendResultsButton {
	margin-left: 18px;
}


.navButton {
	width: 146px;
}
