/* THIS IS THE RIGHT CSS */

body {
	margin: 0;
}

header {
	height: 70px;
	padding-top: 1%;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.content {
	/*max-height: 568px;*/
	max-height: 508px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.content p {
	text-align: center;
	font-size: 30px;
	vertical-align: middle;
	margin: 5px;
}


.description {
	width: 80%;
	margin: auto;
	font-size: 20px;
}

.buttonContainer {
  
	display: inherit;
  background-color: blue;
	width: 100%;
}

footer {
	height: 100px;
  padding-bottom: 1%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.navButton {
	width: 160px;
	height: 90px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid;
	font-size: 40px;
}

#backButton {
	float: left;
	margin: 10px;
}

#nextButton {
	float: right;
	margin: 10px;
}

#menuButton {
	float: left;
	margin-left: 10px;
}

#sendResultsButton {
	width: 160px;
	height: 90px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid;
	font-size: 40px;
	float: right;
	margin-right: 10px;
}

#backToResultsButton {
	width: 160px;
	height: 90px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid;
	font-size: 20px;
	margin-top: 18px;
}

.chooseButton {
	width: 160px;
	height: 90px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid;
	font-size: 20px;
}

p .description {
  text-align: center;
	display: inline-block;
}

.maryDescription {
  /*float: left;*/
	width: 467px;
	margin-left: 28px;
	margin-right: 15px;
	display: inline-block;
	text-align: center;
	position: static;
	margin-top: 0;
}

.romanticDescription {
  /*float: right;*/
	width: 467px;
	margin-left: 15px;
	margin-right: 28px;
	display: inline-block;
	text-align:center;
	position: static;
}

.chooseMary {
  width: 160px;
  height: 90px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid;
  font-size: 20px;
  /*margin-left: 30%;*/
	margin: 0 auto;
}

.chooseRomantic {
  width: 160px;
  height: 90px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid;
  font-size: 20px;
  /*margin-right: 100%;*/
	margin: 0 auto;
}



#quitContainer {
  margin: auto;
	width: 360px;
  /*width: 30%;*/
}

.answer {
  margin: 10px;
  display: inline-block;
  padding-top: 174px;
  height: 43px;
  width: 258px;
  border: 1px solid;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
}

.selected {
  background-color: rgb(200,200,255);
}

.answerContainer {
  /*margin-top: 40px;
  width: 564px;
	margin-left: 230px;*/

  position: absolute;
  width: 564px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question {
  color: blue;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quizTitle {
  float: right;
  font-size: 20px;
  font-weight: 1px;
  margin-right: 20px;
}

#quitButton {
  width: 160px;
  height: 90px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid;
  font-size: 20px;
  float: left;
  margin-top: 50px;

}

#shareResultsButton {
  width: 160px;
  height: 90px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid;
  font-size: 20px;
  float: right;
  margin-top: 50px;
}

.resultsButtonContainer {
  /*width: 25%;*/
	width: 340px;
  margin: auto;
}

.sentButtonContainer {
  width: 360px;
  margin: auto;
}

.sentButtonContainer button {
	margin-left: 10px;
	margin-right: 10px;
}

#mainMenuButton {
  float: right;
  margin-top: 50px;
}

.shareResultsForm {
	margin-left: 10px;
	margin-top: 60px;
}
