/* Global */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", "Segoe UI", sans-serif !important;
	overflow: hidden;
}

/* Fonts */

@font-face {
	font-family: "Source Sans Pro";
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
	font-family: "Source Sans Pro";
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/SourceSansPro-Bold.ttf');
}

/* Navigation buttons */

.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Question page */

.questionContainer {
	width: 1024px;
	height: 768px;
	background: url("../images/question.png");
}

.question {
	width: 100%;
	height: 100px;
	margin-top: 100px;
	float: left;
	color: white;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
}

.answerContainer {
	width: 800px;
	height: 360px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
}

.answer {
	flex-grow: 1;
	flex-basis: 200px;
	margin: 6px;
	justify-content: space-between;
	text-align: center;
	color: white;
	background: rgba(0,0,0, 0.3);
	border: 2px solid white;
	font-size: 20px;
	position: relative;
}

.answerImage {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
}

.answerText {
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 22px;
}

.selected {
	background: white;
	color: black;
}

.buttonContainer {
	width: 800px;
	padding: 5px;
	margin: 20px auto 0 auto;
	box-sizing: border-box;
}

/* Progress Bar */

.progressContainer {
	width: calc(100% - 100px);
	height: 100px;
	margin: 20px 50px 0 50px;
	float: left;
}

.leftBracket {
    float: left;
}

.progressBar {
	width: calc(100% - (35px * 2));
    height: 49px;
	float: left;
	display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.5px;
    box-sizing: border-box;
}

.progressLine {
	height: 3.5px;
	float: left;
    flex-grow: 1;
	background: #eef0f4;
	align-self: center;
    /*background-color: #eef0f4;
    box-shadow: 0 0 5px 0.5px #eef0f4;*/
}

.progressPoint {
    height: 8px;
    width: 8px;
	border: 3px solid #eef0f4;
    border-radius: 100%;
    float: left;
	align-self: center;
}

.questionPoint {
	border: 8px solid #eef0f4;
}

.rightBracket {
    float: right;
}

.numberDiv {
    width: 80px;
	height: 40px;
	margin-left: calc(-40px + (24px / 2));
	margin-top: 34px;
	position: absolute;
    background: #eef0f4;
    line-height: 40px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: #4b6a9b;
}

/* MISCELLANEOUS THINGS THAT NEED TO BE ORGANIZED */


.chooseButton {
	width: 160px;
	height: 90px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid;
	font-size: 20px;
}


.maryDescription {
	width: 40%;
	position: absolute;
	top: 42%;
	left: 55%;
	color: white;
	display: inline-block;
	text-align: center;
	margin-top: 0px;
}

.maryHead {
	color: white;
	position: absolute;
	top: 30%;
	left: 58%;
	font-size: 40px;
}

.romanticDescription {
	width: 40%;
	position: absolute;
	top: 42%;
	left: 5%;
	color: white;
	display: inline-block;
	text-align: center;
}

.description {
	font-size: 25px;
	margin-bottom: 23%;
}

.romanticHead {
	color: white;
	position: absolute;
	top: 30%;
	left: 6%;
	font-size: 40px;
}

.chooseQuiz {
	margin: 0 auto;
}

button {
		font-family: "Source Sans Pro", "Segoe UI", sans-serif !important;
}

.quizDescription {
	width: 564px;
	font-size: 25px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

#quitContainer {
	margin: auto;
	width: 360px;
}

#anotherQuizButton {
  float: right;
  margin-right: 9px;
}

.resultsDescription {
  color: white;
  font-size: 20px;
  width: 660px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#shareResultsButton {
  float: right;
  margin-left: 9px;
}

.resultsButtonContainer {
  width: 95%;
  padding-right: 5%;
  height: 90px;

}

.sentButtonContainer {
  width: 360px;
  margin: auto;
}

.sentButtonContainer button {
	margin-left: 10px;
	margin-right: 10px;
}

#mainMenuButton {
  float: right;
  margin-top: 50px;
}

.shareResultsForm {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;

}

label {
  font-size: 20px;
  color: white;
}

  input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.5);
  width: 600px;
  height: 30px;
  font-size: 20px;
  padding: 5px;
  color: black;
}

.contentShareResultsForm {
  padding-left: 20px;
  padding-top: 40px;
}

input.ng-invalid.ng-dirty {
  border: 1px solid red;
}

.errorText {
  color: red;
}

.backgroundChooseQuiz {
  background-image: url("../images/ChooseQuiz.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
}

.backgroundQuestion {
  background-image: url("../images/question.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -100px;
}

.backgroundResults {
  background-image: url("../images/romanticResults.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -90px;
}

.backgroundSummaryMary {
  background-image: url("../images/summary.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -100px;
}

.backgroundShareResults {
  background-image: url("../images/shareResults.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
  margin: 0 auto -100px;

}
.backgroundTouchBegin {
  background-image: url("../images/touchBegin.png");
  background-size: 1024px 768px;
  width: 1024px;
  height: 768px;
}

.modalheader {
    width: 50px;
    font-family
}

.quizDescNav button {
	padding: 0px;
	width: 204px;
	height: 62px;
}

.quizDescNav {
	width: 458px;
	display: flex;                   /* establish flex container */
  flex-direction: row;             /* default value; can be omitted */
  flex-wrap: nowrap;               /* default value; can be omitted */
  justify-content: space-between;
	margin: 0 auto;
}

.quizDescNav:first-of-type {
	margin-right: 50px;
}


button {
	width: 204px;
	height: 62px;
	border: 3px solid white;
	background: rgba(0, 0, 0, 0.3);
	border: 3px solid white;
	padding: 0;
	font-size: 20px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	color: white;
}

.shareResultsButtonContainer {
	position: absolute;
	bottom: 28px;
}
