<div class="backgroundChooseQuiz">
<header></header>
<div class="content">
	<h2 class="romanticHead">Are You A Romantic?</h2>
	<h2 class="maryHead">Which Mary Are You?</h2>
                
    <div class="romanticDescription">
        <p class="description">Mary came from an era referred to as The Romantic Period. Take the quiz to see how much of a romantic you are!</p>
        <a href="#/quizDescription/1"><button class="chooseQuiz">Choose</button></a>
    </div>

    <div class="maryDescription">
        <p class="description">Mary Shelley had many sides to her personality. Take the quiz to see which Mary you're most like!</p>
        <a href="#/quizDescription/0"><button class="chooseQuiz">Choose</button></a>
    </div>
</div>
<footer></footer>
</div>
