<div>
   <div class="popupouter">
      <div class="popup">
        <div class="modal-header">
            <h3 class="modal-title">Your results have been sent!</h3>
        </div>
        <div class="modal-body">

        </div>

        <div class="modal-footer">
            <a href="#/"><button class="btn btn-primary" type="button" ng-click="dismiss('Yes')">Back to Results</button></a>
            <a href="#/chooseQuiz"><button class="btn btn-warning" type="button" ng-click="dismiss('No')">Take Another Quiz</button></a>
        </div>
      </div>
    </div>
</div>
