<div>
   <div class="popupouter">
      <div class="popup">
        <div class="modal-header">
            <h3 class="modal-title">Are you sure you want to quit?</h3>
        </div>
        <div class="modal-body">

        </div>

        <div class="modal-footer">
            <a href="#/chooseQuiz"><button class="btn btn-primary" type="button" ng-click="dismiss('Yes')">Yes</button></a>
            <button class="btn btn-warning" type="button" ng-click="dismiss('No')">No</button>
        </div>
      </div>
    </div>
</div>
