<div id="progressBarContainer">
    <div id="leftBracket">
        <img src="assets/images/leftBracket.png">
    </div>
	<div id="middle">
		<hr class="progressDivs progressLine" ng-repeat-start="q in questions track by $index">
		<div class="numberDiv" ng-if="$index == questionID">{{$index + 1}}/{{questions.length}}</div>
		<point class="progressDivs progressPoint" ng-repeat-end></point>
		<hr class="progressDivs progressLine">
	</div>
    <div id="rightBracket">
        <img src="assets/images/rightBracket.png">
    </div>
</div>
