<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="progressBarV2.css">
    </head>
    <body>
        <div id="progressBarContainer">
            <div id="leftBracket">
                <img src="leftBracket.png">
            </div>
            <div id="rightBracket">
                <img src="rightBracket.png">
            </div>
            <div id="middle"></div>
        </div>
        <!-- <div id="buttonContainer">
            <button id="backButton" onclick="incrementDown(10)"> Back </button>
            <button id="nextButton" onclick="incrementUp(10)"> Next </button>
        </div> -->
    </body>
    <script type="text/javascript" src="progressBarV2.js"></script>
</html>
