<div class="backgroundQuestion">
<header>
	<div id="quizTitle">{{quiz.title}}</div>
</header>
<div class="content">
    <div class="question">{{question.text}}</div>
    <div class="answerContainer">
        <div class="answer"
			ng-repeat="answer in answers track by $index"
			ng-class="{selected: isSelected($index)}"
			ng-click="select($index)">
			<img class="answerImage" ng-if="answer.image" ng-src="answer.image" />
			<div class="answerText" ng-if="answer.text">{{answer.text}}</div>
		</div>
    </div>
</div>
<footer>
    <div>
        <progressBar></progressBar>
    </div>
    <div class="buttonContainer">
        <button class="navButton" type="button" id="backButton" ng-click="back()">Back</button>
        <button class="navButton" type="button" id="menuButton" ng-click="open()">Menu</button>
        <button class="navButton" type="button" id="nextButton" ng-click="next()">Next</button>
    </div>
</footer>
</div>