<div class="backgroundTouchBegin" ng-click="next()">
    <div id="crossfade">
        <img class="top" src="assets/images/bluebackground.png"/>
        <img class="bottom" src= "assets/images/greybackground.png" />
    </div>
    <div class="attractTextContainer">
        <div class="attractText">
            <img class="blueTextFade" src="assets/images/touchToBeginImages/blueTouchBeginBlock1.png"/>
            <img class="greyTextFade" src="assets/images/touchToBeginImages/greyTouchBeginBlock1.png"/>
        </div>
        <div class="attractText">
            <img class="blueTextFade" src="assets/images/touchToBeginImages/blueTouchBeginBlock2.png"/>
            <img class="greyTextFade" src="assets/images/touchToBeginImages/greyTouchBeginBlock2.png"/>
        </div>
        <div class="attractText">
            <img class="blueTextFade" src="assets/images/touchToBeginImages/blueTouchBeginBlock3.png"/>
            <img class="greyTextFade" src="assets/images/touchToBeginImages/greyTouchBeginBlock3.png"/>
        </div>
        <div class="attractText">
            <img class="blueTextFade" src="assets/images/touchToBeginImages/blueTouchBeginBlock4.png"/>
            <img class="greyTextFade" src="assets/images/touchToBeginImages/greyTouchBeginBlock4.png"/>
        </div>
    </div>
</div>
<div class="attractText1">Touch Anywhere to Begin</div>
